body {
color: white;
background-color: rgb(104, 96, 163);
font-family: Arial, Helvetica, sans-serif;
margin: 0;
height: 100%;
font-size: 20px;


}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 18px;
    font-style: bold;
    font-size: large;
    margin: 0   ;
    background-color: rgb(39, 7, 48);
}

a {
color: rgba(253, 253, 211, 0.744);   
text-decoration: none;
text-shadow: 
-1px -1px 0 rgb(47, 0, 37),  
1px -1px 0 black,
-1px  1px 0 black,
 1px  1px 0 black;
}

.minha_foto {
 width: 300px;
 height: 300px;
 border-radius: 50%;
 border: 5px solid rgb(34, 0, 63);
}

.centralizar {
text-align: center;
}



nav a:hover {
    color: rgb(246, 189, 251);
}

.croche {
text-align: center;


    }
p a:hover {
    color: rgb(108, 60, 114);

}

.escolas {
display: flex;
justify-content: center;
text-align: center;

}

figure img{
border: 5px solid rgb(34, 0, 63);
}

.materias{
text-align: justify;
}

thead th {
text-align: center;
}

.objetivo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 300px;
    }

.info{
line-height: 1.5;
}

.empresas {
width: 60%;
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
margin-left: 300px;
}

.empresas1 {
width: 60%;
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
margin-left: 300px;
}



.função {
text-align: justify;
}

table {
width: 100%;
border-collapse: collapse;
text-align: center;

}

th, td {
border: 2px solid rgb(13, 4, 13);
padding: 10px;
text-align: left;
color: rgb(17, 6, 27);
background-color: rgba(253, 253, 211, 0.744);
}

form {
text-align: center;
border: 2px solid white;
margin: 0;
}

.conteiner {
padding: 60px 60px;
}

h1 {
text-align: center;
}

h2 {
text-align: center;
    
}

h3 {
text-align: center;
        
}

h4 {
text-align: center;
            
}

p {
text-align: center
}

.video {
text-align: center;
display: block;
margin: 0;
align-items: center;
}

.matue {
align-items: center;
text-align: center;
display: block;
}

.uvv {
align-items: center;
text-align: center;
display: block;
}

.curso{
justify-items: center;
}
